force-app/main/default/flows/dgLookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DG_Lookup</name>
        <label>DG Lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>cdpGetDataGraphByLookup</actionName>
        <actionType>cdpGetDataGraphByLookup</actionType>
        <faultConnector>
            <targetReference>Assignment_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dataspaceApiName</name>
            <value>
                <elementReference>dataspace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dataGraphApiName</name>
            <value>
                <elementReference>dgName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupKey</name>
            <value>
                <elementReference>dgLookupKey</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cdpGetDataGraphByLookup</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>output</assignToReference>
            <name>data</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;error&quot;:&quot;Data not found&quot;,&quot;query&quot;: &quot;{!dgLookupKey}&quot;}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Data Graph Lookup</description>
    <environments>Default</environments>
    <interviewLabel>dgLookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>dgLookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DG_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dataspace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>default</stringValue>
        </value>
    </variables>
    <variables>
        <name>dgLookupKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
